# 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
*
&#39;hello&#39;
-87.8
-
/
+
6

1.) *,-,/,+ is an expression(mathematical operator)

2.) 'hello',-87.5,6 is a value (string)

# 2. What is the difference between string and variable?

String  = String is used to reperesent text and the text or charcters must be enclosed in single and double quotes.in string we can also insert space ,numbers etc.
ex 1:

In [2]:
"geetika"#double quotes

'geetika'

In [3]:
'geetika'#single quotes

'geetika'

example 2:

In [9]:
str1=("my name is geetika")
str1

'my name is geetika'

In [10]:
str2=("my name is geetika ranga")
str2

'my name is geetika ranga'

Variable: Variable are the containers to store data values.we first assign a value to it.
Rules:
1. Variable name must start with a letter or with underscore.
2. Variable name never start with a number.
3. Variable name is case-sensitive.

example:

In [11]:
x=5
y="geet"
print(x)
print(y)

5
geet

# 3. Describe three different data types.

Three data types:
* list
* set
* dictionary
1.) List= list are used to store multiple value in a single variable.
example1:

In [14]:
l=["geet","ranga","geetika",23,411]
l

['geet', 'ranga', 'geetika', 23, 411]

we can also add list into a list
ex2:

In [18]:
l1=['geet','ranga','geetika',21,212,["happy","lucky"]]
l1

['geet', 'ranga', 'geetika', 21, 212, ['happy', 'lucky']]

Also access list elements by index 
ex 3:

In [20]:
 l[0]

'geet'

Also reverse the list:

In [23]:
l[::-1]

[411, 23, 'geetika', 'ranga', 'geet']

# 4. What is an expression made up of? What do all expressions do?

Expression : Expression is made up of operators and operands.Expression is a combination of operands and operators which produce some other value.

ex= a+b #expession & + is an operator.

lets take a look of example of expression:

1.) a*b ,a>b,a>=b,a<=b, a<b, a==b , a%b, a**b

2.) a and b ,a or b, not a

3.) a>>2,a<<2

4.) a+=,b+=,a-=,b-=

5.) a/b , a//b

In [28]:
a=10
b=12
a+b#expression

22

# 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

As an example, spam=10 is an assignment statement 
statement, the value 10 is assign to spam.

In [35]:
spam=10#assignment statement
spam+=1#expression
print(spam)

11

So, clearly define the difference.

# 6. After running the following code, what does the variable bacon contain?bacon = 22                                                                                          bacon + 1

In [36]:
bacon=22
bacon+1

23

# 7. What should the values of the following two terms be?    'spam'+'spamspam'                                                                                                                                                                'spam' * 3

In [37]:
'spam'+'spamspam'

'spamspamspam'

In [38]:
'spam'*3

'spamspamspam'

Same output of both of the expression.

# 8. Why is eggs a valid variable name while 100 is invalid?

Some rules to declare varaible:
1. the first letter of the variable must be a character or underscore_.
2. the first letter of the variable name never be a digit.
and,According both of the rules: 
eggs is a valid variable name becuase it starts with a character not with the special character or the digit.
and 100 is not a valid variable name because it starts with a digit and variable name never starts with a digit.

In [40]:
eggs="cock"
eggs

'cock'

In [41]:
100="cock"

SyntaxError: cannot assign to literal (Temp/ipykernel_20736/2163768187.py, line 1)

100 is not a valid variable name.

# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

Integer = int() function is used

example:

In [46]:
 a=int(input("enter a value"))

enter a value12

Floating point =float() function is used.

example:

In [47]:
float(121)

121.0


String = str() function is used.

example:

In [49]:
str=("geet")
print(str)

geet

# 10. Why does this expression cause an error? How can you fix it?
'I have eaten' + 99 + 'burritos'

In [50]:
'i have eaten'+ 99+ 'burritos'

TypeError: can only concatenate str (not "int") to str

In [58]:
'I have eaten' + ' 99 ' + 'burritos'

'I have eaten 99 burritos'